body{}
header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header h1 {display: block;}
header h1 a{}
header h1 a img{width: 100%;}
header nav .gnb{ display: flex; flex-wrap:nowrap; display: block;}
header > nav.gnb ul {background-color: rgb(95, 122, 105);}
header > nav.gnb ul li{
    position: relative;
    display: flex; flex-wrap: nowrap;
}
header > nav.gnb ul li a{display:none; flex-wrap: nowrap; color: black; }
header > nav .gnb > li > .sub {}
header > nav .gnb > li > .sub li{background-color: aqua;}
header > nav .gnb > li > .sub li a{}
header > nav .gnb > li > .sub li a img{}
header > nav.sub li{background-color: aqua;}
header > nav.sub li a{font-size:0.91rem; color: black; }
header > nav.sub li a img{}
header .lnb{display: flex;}
header .lnb {display: flex;}
header .lnb a{}
header .lnb a img{}
main .visual{
    height: 100vh;
    background: url(../images/visual.png);
    background-repeat: no-repeat;
    padding:100px;
}
main .visual .txt{margin:0 auto; text-align: center; color: #fff;}
main .visual .txt h1{font-size: 5rem; font-weight: 700; }
main .visualn .txt p{}
main .visual .link{margin: 50px;}
main .visual .link a{    
    background: #002c5f;
    color: #fff;
    padding: 10px;
    margin: 10px;
}
main .scroll{text-align: center; width: 100%}
main .scroll img{width: 50px;}